.wprig-row {
	position: relative;
}

.wprig-column-layout {
	display: flex;
	flex-wrap: nowrap;
}

.wprig-column-1 {
	flex: 1;
}

.wprig-column-2 {
	flex: 2;
}

.wprig-column-3 {
	flex: 3;
}

.wprig-column-4 {
	flex: 4;
}

.wp-block-wprig-row {
	display: block;
}

.wp-block-wprig-row {
	flex-wrap: wrap;
}

.wp-block-wprig-row > .block-editor-inner-blocks > .block-editor-block-list__layout {
	flex-wrap: wrap;
	display: flex;
}

.wp-block-wprig-row .block-editor-block-list__layout {
	margin-left: 0;
	margin-right: 0;
}

.wprig-row > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
}

.wp-block-wprig-row > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="wprig/column"] {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 0;
	word-break: break-word;
	overflow-wrap: break-word;
	width: 100%;
}

.wp-block-wprig-row .block-editor-block-list__layout .editor-block-list__block {
	max-width: none;
}

.wp-block-wprig-row [data-type="wprig/column"] {
	pointer-events: none;
}

.wp-block-wprig-row > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="wprig/column"] > .editor-block-list__block-edit {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

:not(.components-disabled) > .wp-block-wprig-row > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="wprig/column"] > .editor-block-list__block-edit > * {
	pointer-events: all;
}

.wp-block-wprig-row > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="wprig/column"] > .editor-block-list__block-edit > div > .block-editor-inner-blocks {
	margin-top: -28px;
	margin-bottom: -28px;
}

.wp-block-wprig-row .block-editor-block-list__layout {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-wprig-row .block-editor-block-list__layout .editor-block-list__block {
	max-width: none;
}

div[data-type="wprig/row"].is-selected div[data-type="wprig/column"]:last-child > div > div > .components-resizable-box__container.wprig-column-resizer > span > .components-resizable-box__handle,
div[data-type="wprig/row"].is-selected div[data-type="wprig/column"]:last-child > div > div > .components-resizable-box__container.wprig-column-resizer::after,
div[data-type="wprig/row"].is-resizing div[data-type="wprig/column"]:last-child > div > div > .components-resizable-box__container.wprig-column-resizer > span > .components-resizable-box__handle,
div[data-type="wprig/row"].is-resizing div[data-type="wprig/column"]:last-child > div > div > .components-resizable-box__container.wprig-column-resizer::after {
	display: none;
}

.wp-block-wprig-row [data-type="wprig/column"] .components-resizable-box__container:hover .components-resizable-box__handle {
	display: block;
	z-index: 9;
}

.components-resizable-box__container.wprig-column-resizer.is-selected-column > span > .components-resizable-box__handle,
div[data-type="wprig/row"].is-selected .components-resizable-box__container.wprig-column-resizer > span > .components-resizable-box__handle,
div[data-type="wprig/row"].is-resizing .components-resizable-box__container.wprig-column-resizer > span > .components-resizable-box__handle {
	right: -15px;
	top: 0;
	background: transparent;
	z-index: 9999;
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	transform: translateX(50%);
	background: transparent;
}

.components-resizable-box__container.wprig-column-resizer.is-selected-column > span > .components-resizable-box__handle::before,
  div[data-type="wprig/row"].is-selected .components-resizable-box__container.wprig-column-resizer > span > .components-resizable-box__handle::before,
  div[data-type="wprig/row"].is-resizing .components-resizable-box__container.wprig-column-resizer > span > .components-resizable-box__handle::before {
	background: #e3e4e7;
	border: none;
	opacity: 1;
	border-radius: 30px;
	width: 3.5px;
	right: calc(50% - 2px);
}

.components-resizable-box__container.wprig-column-resizer > span > .components-resizable-box__handle {
	width: 8px;
}

.wprig-flex-box {
	display: flex;
}

.wprig-flex-column {
	flex-direction: column;
}

.wprig-flex-1 {
	flex: 1;
}

.wprig-flex-2 {
	flex: 2;
}

.wprig-flex-3 {
	flex: 3;
}

.wprig-flex-4 {
	flex: 4;
}

.item-center {
	align-items: center;
}

.item-left {
	align-items: flex-start;
}

.item-right {
	align-items: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-left {
	justify-content: flex-start;
}

.justify-right {
	justify-content: flex-end;
}

.wprig-palette-fields .wprig-palette-unit {
	padding-bottom: 12px;
	padding-left: 3px;
}

[data-type="wprig/columns"] .block-editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit {
	margin-top: 14px;
	margin-bottom: 14px;
}

#wpwrap [data-type="wprig/columns"] .block-editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit p:last-child {
	margin-bottom: 0;
}

#wpwrap [data-type="wprig/columns"] .is-selected .wprig-column[data-gwidth]::before {
	content: attr(data-gwidth);
	position: absolute;
	font-size: 10px;
	top: -1px;
	right: -1px;
	background: #2178c3;
	padding: 0 8px;
	border-radius: unset;
	color: #fff;
}

.wprig-field-group {
	position: relative;
	display: flex;
}

.wprig-field-group:not(:last-child) {
	margin-bottom: 20px;
}

.wprig-field-group.wprig-65-35 .wprig-field:first-child {
	max-width: calc(65% - 15px);
}

.wprig-field-group.wprig-65-35 .wprig-field:last-child {
	max-width: 35%;
}

.wprig-field-group .wprig-field {
	flex-grow: 1;
}

.wprig-field-group .wprig-field label {
	font-size: 13px;
	color: #87888A;
	display: block;
}

.wprig-field-group.wprig-wide {
	display: block;
}

.wprig-field-group.wprig-wide .wprig-field {
	width: 100%;
}

.wprig-field-group.wprig-wide .wprig-field:not(:last-child) {
	margin-bottom: 15px;
}

.wprig-field-group:not(.wprig-wide) .wprig-field:not(:last-child) {
	margin-right: 15px;
	margin-bottom: 0;
}

.wprig-field {
	position: relative;
	margin-bottom: 20px;
}

.wprig-field:last-child {
	margin-bottom: 0;
}

.wprig-field .wprig-field-child button:focus {
	outline: 1px dotted rgba(0, 0, 0, 0.2);
}

.wprig-field input[type="text"],
  .wprig-field input[type="number"]:not(.components-range-control__number) {
	width: 100%;
	padding: 0 2px 0 0 !important;
	height: 26px;
	border: 1px solid #8d96a0;
	margin: 0;
	text-indent: 6px;
}

.wprig-field > label {
	width: 100%;
	display: block;
	line-height: 18px;
	margin-bottom: 10px;
}

.wprig-field > label::after {
	content: '';
	display: block;
	clear: both;
}

.wprig-field > label .wprig-device {
	margin-left: 5px;
	display: inline-block;
}

.wprig-field > label .wprig-device > span {
	padding: 0 2.5px;
}

.wprig-field-group .wprig-device {
	position: absolute;
	top: 0;
	left: 15px;
	transform: translateY(-50%);
	background: #fff;
	border: 1px solid #E2E4E7;
	padding: 0px 2px;
	font-size: 0;
	overflow: hidden;
}

.wprig-field-group .wprig-device > button {
	border: none;
	padding: 4px 2.5px;
}

.wprig-device > button {
	padding: 0px;
	cursor: pointer;
	font-weight: 900;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	font-family: "Font Awesome 5 Free";
	font-size: 9px;
	background: #E5E7EA;
	color: #4d515a;
	height: 18px;
	line-height: 19px;
	width: 18px;
	border-radius: 50%;
	border: none;
}

.wprig-device > button:not(:last-child) {
	margin-right: 4px;
}

.wprig-device > button.wprig-device-desktop::before {
	content: "\f108";
}

.wprig-device > button.wprig-device-tablet::before {
	content: "\f3fa";
}

.wprig-device > button.wprig-device-mobile::before {
	content: "\f3cd";
}

.wprig-device > button:focus {
	outline: 0;
	box-shadow: 0;
}

.wprig-device > button.active {
	background: #D2E7FF;
	color: #2184F9;
}

.wprig-group-color-palatte {
	margin: 0;
}

.wprig-group-color-palatte:not(:last-child) {
	margin-bottom: 20px;
}

.wprig-group-color-palatte > button {
	position: relative;
	float: left !important;
	margin-right: 10px !important;
	height: 28px !important;
	width: 28px !important;
	font-size: 0px !important;
	border-radius: 50% !important;
	border: none;
	box-shadow: none !important;
}

.wprig-group-color-palatte > button::after {
	content: '\f05e';
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 28px;
	color: red;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.wprig-group-color-palatte .components-color-palette__item-wrapper {
	margin-bottom: 0;
	margin-right: 10px;
}

.wprig-group-color-palatte::after {
	content: '';
	display: block;
	clear: both;
}

.wprig-unit-btn-group {
	overflow: hidden;
	display: inline-block;
	font-size: 0;
}

.wprig-unit-btn-group button {
	line-height: 1;
	display: inline-block;
	border: none;
	font-size: 10px;
	padding: 0;
	border-radius: 2px !important;
	color: #8D96A0;
	text-transform: uppercase;
	background: transparent;
	cursor: pointer;
}

.wprig-unit-btn-group button:focus {
	outline: 0;
	box-shadow: none;
}

.wprig-unit-btn-group button.active {
	color: #2184F9;
}

.wprig-unit-btn-group button:not(:last-child) {
	margin-right: 5px;
}

.wprig-d-flex {
	display: flex;
}

.wprig-align-center {
	align-items: center;
}

.wprig-align-justified {
	justify-content: space-evenly;
}

.wprig-align-justified > div {
	padding: 0 5px;
	display: inline-block !important;
	margin-bottom: 0 !important;
}

.wprig-align-justified > div label {
	display: block;
	margin-bottom: 8px !important;
	text-align: center;
}

.wprig-align-justified > div:first-child {
	padding-left: 0;
}

.wprig-align-justified > div:last-child {
	padding-right: 0;
}

.wprig-ml-auto {
	margin-left: auto;
}

.wprig-ml-10 {
	margin-left: 10px;
}

.wprig-ml-15 {
	margin-left: 15px;
}

.wprig-mr-auto {
	margin-right: auto;
}

.wprig-mr-15 {
	margin-right: 15px;
}

.wprig-mb-15 {
	margin-bottom: 15px;
}

.wprig-mb-20 {
	margin-bottom: 20px;
}

.wprig-mb-10 {
	margin-bottom: 10px;
}

.wprig-mb-0 {
	margin-bottom: 0 !important;
}

.wprig-w-100 {
	width: 100%;
}

.wprig-text-right {
	text-align: right;
}

.wprig-d-block {
	display: block;
}

.wprig-button {
	background: #FFF;
	border: 1px solid #E5E7EA;
	min-height: 26px;
	display: inline-flex;
	align-items: center;
	padding: 3px 8px;
	text-align: center;
	color: #8D96A0;
	transition: all 400ms;
	border-radius: 3px;
	cursor: pointer;
}

.wprig-button:focus {
	box-shadow: none;
	outline: 0;
}

.wprig-button.active {
	background: #D2E7FF;
	color: #2184F9;
	border-color: #A9D0FF;
}

.wprig-button.active + .wprig-button {
	border-left-color: #A9D0FF;
}

.wprig-button.wprig-button-rounded {
	border-radius: 3px !important;
}

.wprig-field-button-list {
	display: inline-flex;
	vertical-align: middle;
}

.wprig-field-button-list .wprig-button {
	position: relative;
	flex: 1 1 auto;
}

.wprig-field-button-list .wprig-button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.wprig-field-button-list .wprig-button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.wprig-field-button-list .wprig-button:not(:first-child) {
	margin-left: -1px;
}

.wprig-common-button, .wprig-button-group .wprig-button {
	border: 1px solid #6c7781;
	text-align: center;
	flex-grow: 1;
	padding: 4px 6px;
	font-size: 12px;
	cursor: pointer;
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	box-shadow: inset 0 -1px 0 #ccc;
	vertical-align: top;
}

.wprig-common-button:first-child, .wprig-button-group .wprig-button:first-child {
	border-radius: 4px 0 0 4px;
}

.wprig-common-button:last-child, .wprig-button-group .wprig-button:last-child {
	border-radius: 0 4px 4px 0;
}

.wprig-common-button:not(:last-child), .wprig-button-group .wprig-button:not(:last-child) {
	border-right: none;
}

.wprig-common-button:hover, .wprig-button-group .wprig-button:hover {
	background: #fafafa;
	border-color: #999;
	box-shadow: inset 0 -1px 0 #999;
	color: #23282d;
	text-decoration: none;
}

.wprig-common-button.active, .wprig-button-group .active.wprig-button {
	background: #0085ba;
	border-color: #00648c;
	color: #ffffff;
	box-shadow: inset 0 -1px 0 #00648c;
}

.wprig-common-button.active:hover, .wprig-button-group .active.wprig-button:hover {
	background: #007eb1;
	border-color: #00435d;
	color: #fff;
	box-shadow: inset 0 -1px 0 #00435d;
}

.wprig-button-group {
	display: flex;
	border-radius: 5px;
	width: 100%;
	margin: 0;
}

.wprig-button-group.wprig-popup-button-group button {
	padding: 5px 9px;
}

.wprig-background-tab-wrap .wprig-gradient {
	margin-bottom: 0;
}

.components-resizable-box__container .wprig-column {
	max-width: 100%;
}

.block-editor-block-list__layout .components-resizable-box__container {
	max-width: 100% !important;
}

.components-resizable-box__container .block-editor-inner-blocks .editor-block-list__block {
	padding-left: 0;
	padding-right: 0;
}

.components-resizable-box__container .block-editor-inner-blocks .editor-block-list__block .editor-block-list__block-edit {
	margin: 0;
}

.wprig-row .wprig-column .block-editor-inner-blocks .block-editor-block-list__layout {
	margin-left: 0;
	margin-right: 0;
}

.wprig-row .block-editor-block-list__layout .editor-block-list__block {
	padding-left: 0;
	padding-right: 0;
}

.edit-post-visual-editor .wprig-row .editor-block-list__block .editor-block-list__block-edit {
	margin-left: 0;
	margin-right: 0;
}

.wprig-row .block-editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit > .editor-block-contextual-toolbar + [data-block] .components-resizable-box__container {
	position: relative;
}

.wprig-row .block-editor-block-list__layout .editor-block-list__block.is_hovered[data-type="wprig/columns"] > .editor-block-list__block-edit::before {
	outline: 1px solid green;
}

.wprig-row .block-editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit > .editor-block-contextual-toolbar + [data-block] .components-resizable-box__container {
	position: relative;
}

.wprig-row .block-editor-block-list__layout .editor-block-list__block.is_hovered .components-resizable-box__container {
	position: relative;
}

.wprig-row .block-editor-block-list__layout .editor-block-list__block.is_hovered .components-resizable-box__container::before {
	z-index: 9999;
	content: "";
	position: absolute;
	outline: 2px solid green;
	transition: outline .1s linear;
	pointer-events: none;
	right: -14px;
	left: -14px;
	top: -14px;
	bottom: -14px;
}

.wprig-row-preset {
	background: #F7F8FC;
	padding: 25px 15px;
}

.wprig-row-preset .wprig-row-preset-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 16px;
	margin-bottom: 18px;
	color: #191E23;
}

.wprig-row-preset .wprig-row-preset-group {
	max-width: 700px;
	margin: 0 auto;
}

.wprig-row-preset .wprig-row-preset-group button {
	cursor: pointer;
	width: calc(16.66% - 14px);
	background: transparent;
	border: none;
	height: 50px;
	margin: 7px !important;
	display: inline-flex;
	padding: 0 !important;
	outline: 1px solid transparent;
	transition: 300ms;
	opacity: 1;
}

.wprig-row-preset .wprig-row-preset-group button i {
	height: 50px;
	background: #E2E6EC;
	border: 1px solid #E2E6EC;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	transition: 300ms;
	font-style: normal;
}

.wprig-row-preset .wprig-row-preset-group button i:not(:last-of-type) {
	margin-right: 2px;
}

.wprig-row-preset .wprig-row-preset-group button:hover {
	border: none;
	opacity: 1;
}

.wprig-row-preset .wprig-row-preset-group button:hover i {
	font-style: normal;
	background: #FFFFFF;
	border: 1px solid #2184F9;
	box-shadow: 0 0 0 1px rgba(33, 132, 249, 0.2);
}

.wprig-row-preset .import-layout-btn-container .is-button.is-primary {
	text-shadow: none;
	background: #2184F9;
	box-shadow: none;
	border: 0;
	padding: 10px 12px;
	line-height: 1;
	height: auto;
	transition: color 300ms, background-color 300ms;
}

.wprig-row-preset .import-layout-btn-container .is-button.is-primary:hover {
	background: #1d74df;
}

.wprig-component-remove-button {
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 13px;
	right: 15px;
	padding: 0;
	transition: 200ms;
	font-size: 17px;
	color: #CCCFD5;
}

.wprig-component-remove-button:hover {
	color: #B4B7BC;
}

.wprig-inspect-tabs {
	border: 1px solid #e2e4e7;
	padding: 10px;
	border-radius: 4px;
	margin-top: 30px;
	position: relative;
}

.wprig-inspect-tabs .components-tab-panel__tabs {
	position: absolute;
	top: -15px;
	border: 2px solid #e2e4e7;
	display: inline-block;
	border-radius: 4px;
	overflow: hidden;
}

.wprig-inspect-tabs .components-tab-panel__tabs button {
	padding: 7px 15px;
	box-shadow: none;
	cursor: pointer;
	border: none;
	cursor: pointer;
	transition: 400ms;
}

.wprig-inspect-tabs .components-tab-panel__tabs button.active-tab {
	background: #0085ba;
	color: #fff;
}

.wprig-inspect-tabs .components-tab-panel__tab-content {
	margin-top: 10px;
}

.wprig-inspect-tabs .components-tab-panel__tab-content .components-panel__body-title {
	display: none;
}

.wprig-inspect-tabs .components-tab-panel__tab-content .components-panel__body {
	border-top: none;
}

#wprigImportLayoutBtn {
	vertical-align: middle;
	display: inline-flex;
	align-items: center;
	background: #2184F9;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	white-space: nowrap;
	border-width: 1px;
	border-style: solid;
	font-size: 13px;
	margin: 0 15px 0 15px;
	padding: 9px 12px;
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
	transition: 400ms;
}

#wprigImportLayoutBtn:hover, #wprigImportLayoutBtn:focus, #wprigImportLayoutBtn:active {
	color: #fff;
	text-decoration: none;
	background: #1d74df;
}

#wprigImportLayoutBtn img {
	height: 16px;
	width: 16px;
	margin-right: 10px;
}

.wprig-editor-btn {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.wprig-editor-btn::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.wprig-field-type-switch .wprig-field-switch-button button {
	border: 1px solid #D8D8D8;
	padding: 8px 13px;
	font-size: 13px;
	color: #333;
	cursor: pointer;
}

.wprig-field-type-switch .wprig-field-switch-button button .wprig-gradient {
	position: relative;
	border: 2px solid #333;
	background-image: linear-gradient(45deg, #333 50%, #ffffff 50%);
}

.wprig-field-type-switch .wprig-field-switch-button button .wprig-gradient i {
	font-style: normal;
	width: 22px;
	visibility: hidden;
}

.wprig-field-type-switch .wprig-field-switch-button button:not(:last-child) {
	border-right: none;
}

.wprig-field-type-switch .wprig-field-switch-button button:first-child {
	border-radius: 4px 0 0 4px;
}

.wprig-field-type-switch .wprig-field-switch-button button:last-child {
	border-radius: 0 4px 4px 0;
}

.wprig-field-type-switch .wprig-field-switch-button button.active {
	background: #0085ba;
	border-color: #006a95;
	color: #fff;
}

.wprig-field-type-switch .wprig-field-switch-button button.active .wprig-gradient {
	border-color: #fff;
	background-image: linear-gradient(45deg, #0085ba 50%, #ffffff 50%);
}

.wprig-field-type-switch .wprig-field-switch-button button.active + button {
	border-left-color: #006a95;
}

.wprig-label-inline-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wprig-margin-indicator,
.wprig-padding-indicator {
	opacity: 0;
}

.wprig-margin-indicator .wprig-indicator-bottom,
  .wprig-margin-indicator .wprig-indicator-top,
  .wprig-margin-indicator .wprig-indicator-left,
  .wprig-margin-indicator .wprig-indicator-right,
  .wprig-padding-indicator .wprig-indicator-bottom,
  .wprig-padding-indicator .wprig-indicator-top,
  .wprig-padding-indicator .wprig-indicator-left,
  .wprig-padding-indicator .wprig-indicator-right {
	position: absolute;
	opacity: .4;
	background-color: rgba(3, 225, 109, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	color: #222;
	z-index: 1;
}

.wprig-margin-indicator .wprig-indicator-bottom,
  .wprig-margin-indicator .wprig-indicator-top,
  .wprig-padding-indicator .wprig-indicator-bottom,
  .wprig-padding-indicator .wprig-indicator-top {
	height: 0px;
	top: 0;
	left: 0;
	right: 0;
}

.wprig-margin-indicator .wprig-indicator-bottom,
  .wprig-padding-indicator .wprig-indicator-bottom {
	top: auto;
	bottom: 0;
}

.wprig-margin-indicator .wprig-indicator-left,
  .wprig-margin-indicator .wprig-indicator-right,
  .wprig-padding-indicator .wprig-indicator-left,
  .wprig-padding-indicator .wprig-indicator-right {
	width: 0px;
	top: 0;
	bottom: 0;
	left: 0;
}

.wprig-margin-indicator .wprig-indicator-right,
  .wprig-padding-indicator .wprig-indicator-right {
	left: auto;
	right: 0;
}

.wprig-section:hover .wprig-margin-indicator,
.wprig-section:hover .wprig-padding-indicator,
.wprig-section.active .wprig-margin-indicator,
.wprig-section.active .wprig-padding-indicator,
.padding-input-dragging .wprig-margin-indicator,
.padding-input-dragging .wprig-padding-indicator,
.margin-input-dragging .wprig-margin-indicator,
.margin-input-dragging .wprig-padding-indicator,
.padding-dragging .wprig-margin-indicator,
.padding-dragging .wprig-padding-indicator,
.margin-dragging .wprig-margin-indicator,
.margin-dragging .wprig-padding-indicator {
	opacity: 1;
}

.wprig-margin-indicator .wprig-indicator-bottom,
.wprig-margin-indicator .wprig-indicator-top,
.wprig-margin-indicator .wprig-indicator-left,
.wprig-margin-indicator .wprig-indicator-right {
	background: rgba(0, 123, 243, 0.3);
}

.wprig-margin-indicator .wprig-indicator-bottom {
	transform: translateY(100%);
}

.wprig-margin-indicator .wprig-indicator-top {
	transform: translateY(-100%);
}

.wprig-margin-indicator .wprig-indicator-left {
	transform: translateX(-100%);
}

.wprig-margin-indicator .wprig-indicator-right {
	transform: translateX(100%);
}

.not-clickable, .disable-slide .wprig-field-child {
	filter: opacity(0.3);
	pointer-events: none;
}

.wprig-row * > [data-type="wprig/column"].has-child-selected .block-editor-inner-blocks {
	padding: 14px;
}

.editor-styles-wrapper .wprig-row * > [data-type="wprig/column"] [data-block] {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper .wprig-row * > [data-type="wprig/column"].has-child-selected [data-block] {
	margin-top: 28px;
	margin-bottom: 28px;
}

.block-editor-block-list__block .wprig-row * > [data-type="wprig/column"] .block-list-appender {
	margin: 0;
}

.wprig-row * > [data-type="wprig/column"].has-child-selected {
	z-index: 1;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-type="wprig/row"].is-selected {
	z-index: inherit;
}

span.block-editor-block-icon img {
	max-width: 24px;
}

.wprig-import-wrapper {
	display: inline-flex;
	align-items: center;
}

.wprig-section {
	position: relative;
}

.wprig-section .wprig-container {
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.wprig-section .wprig-container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.wprig-section .wprig-container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.wprig-section .wprig-container {
		max-width: 960px;
	}
}

.wprig-section .wprig-row {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.wprig-section .wprig-row > .wp-block-wprig-column {
	box-sizing: border-box;
}

.wprig-section .wprig-row.wprig-row-height-window {
	min-height: 100vh;
}

.wprig-section .wprig-row .block-editor-inner-blocks {
	width: 100%;
}

.wprig-section .wprig-row-overlay {
	top: 0;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
}

.wprig-section .wprig-video-bg-wrap {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	overflow: hidden;
}

.wprig-section .wprig-video-bg-wrap iframe {
	height: 1300px;
	position: absolute;
	left: 50%;
	width: 200%;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
}

.wprig-section .wprig-video-bg-wrap .wprig-video-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	-webkit-transition: 1s opacity;
	transition: 1s opacity;
}

.wprig-section .wprig-shape-divider {
	overflow: hidden;
	position: absolute;
	left: 0px;
	right: 0px;
	line-height: 0;
}

.wprig-section .wprig-shape-divider > svg {
	display: block;
	width: 100%;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%) scale(1.01);
	-ms-transform: translateX(-50%) scale(1.01);
	transform: translateX(-50%) scale(1.01);
}

.wprig-section .wprig-shape-divider.wprig-bottom-shape {
	bottom: -1px;
	top: auto;
}

.wprig-section .wprig-shape-divider.wprig-bottom-shape > svg {
	transform: rotateX(180deg) translateX(-50%);
}

.wprig-section .wprig-shape-divider.wprig-top-shape {
	top: 0px;
	bottom: auto;
}

.editor-styles-wrapper .wprig-section .wprig-column-inner .components-dropdown-menu.components-toolbar {
	border-right: none;
	padding: 0;
}

.editor-styles-wrapper .wprig-section .wprig-column-inner .wp-block[data-align="full"] {
	left: auto;
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.wprig-row .block-editor-block-list__layout .editor-block-list__block {
	max-width: none;
}

.wp-block[data-align="full"][data-type="wprig/row"] .wprig-row.wprig-backend-row > .block-editor-inner-blocks .block-editor-block-list__layout .wp-block[data-type="wprig/column"]:only-child,
.block-editor-block-list__block[data-type="wprig/row"] .wp-block[data-align="full"] .wprig-row.wprig-backend-row > .block-editor-inner-blocks .block-editor-block-list__layout .wp-block[data-type="wprig/column"]:only-child {
	max-width: none;
}

div[data-type="wprig/row"] .wprig-row.wprig-backend-row > .block-editor-inner-blocks .wp-block[data-type="wprig/column"]:last-child .components-resizable-box__container.wprig-column-resizer .components-resizable-box__handle.components-resizable-box__side-handle.components-resizable-box__handle-right {
	visibility: hidden;
}